.char_img img {
    position: relative;
    transform: translate(-5%, -25%);
}

.char_card {
    display: inline-block;
    width: 150px;
    height: 205px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    margin: 5px 10px;
    font-size: 12px;
}

.char_card:hover {
    cursor: pointer;
}

.char_img {
    border-bottom: 1px solid black;
    overflow: hidden;
    height: 110px;
}

.card_body {
    text-align: center;
}

.card_body h5 {
    margin: 4px 0px;
}

.card_body span {
    display: block;
    margin-bottom: 6px;
}

.char_list {
    overflow: auto;
    height: 880px;
}

#how_to_use {
    text-align: center;
    /* line-height: 880px; */
    /* color: gray; */
}

.btn {
    margin: 4px 0px;
}

#union {
    text-align: center;
}

#tooltip {
    display: none;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: #FFFFFF;
    font-size: 12px;

    margin-bottom: 10px;
    padding: 7px 12px;
    position: absolute;
    min-width: 50px;
    max-width: 300px;
    word-wrap: break-word;

    z-index: 9999;
}

#code_area {
    border: 0;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
}

ol li {
    padding: 5px 0px 5px 5px;
}